.carousel-item img {
    align-items: center;

}

.logo-navbar {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

.nav-item:hover {
    background-color: rgb(25, 119, 243);
    border-radius: 5px;
}
.nav-link:hover {
    color: rgb(255, 255, 255) !important;
}

.otro-mark {
    background-color: yellow;
    color: black;
    font-weight: bold;
    font: italic;
    font-size: 25px;
}